<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Preserve Authorization header for PHP
    RewriteCond %{HTTP:Authorization} ^(.*)$
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

    # Redirect to the public directory for static assets
    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1 [L]

    # Prevent direct access to directories and files
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Redirect all other requests to Laravel's front controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php [L]
</IfModule>
